# database/mariadb/my.cnf
[mysqld]
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address=gcomm://
wsrep_cluster_name="galera_cluster"
wsrep_node_address="auto"
wsrep_node_name="node1"
wsrep_sst_method=rsync
